<%- include('partials/header'); -%>

<div class="container mt-3">
  <h2>All comments</h2><br>

  <div class="comment">
    <% comments.forEach(comment=> { %>
      <div class="card">
        <h5 class="card-body">
          <%= comment.commentText %>, by <i><%= comment.ownerName %></i>
        </h5>
      </div>
      <br>
      <% }); %>
  </div>
</div>

<%- include('partials/footer'); -%>